body {
    margin: 0;
    background: #050505;
    color: #eeeeee;
    font-family: "Roboto Flex", sans-serif;
}

main {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0 0 10px 0;
}
